auto-save-list/
elpa/
*~
*#
custom-set-variables*
network-security.data
perspective-data.db
*.pkg.el
/packages
/melpa/
org-roam.db
*.bak
*.bak*
server/
cnfonts/
bookmarks
ido.last
recentf
smex-items
semanticdb
eshell/
places
diary
projectile.cache
projectile-bookmarks.eld
ede-projects.el
company-statistics-cache.el
persp-confs/
.elscreen
.emacs.desktop*
.cache*
url/
.org-id-locations
config.el
virtual.dired
eww-bookmarks
emms/
TAGS
.mc-lists.el
tramp
history
*.elc
#*#
abbrev_defs
eaf/
srecode-map.el
/transient
/.elfeed
GPUCache/
*-bak/
.#ido*
bm-repository
*-terminal
session.*
.moomin_history
.app-list
.system-path-*
test.html
test-recentf.el
.project-list
/elfeed
*.opml
.denote-dir
.app-list.el
.nav-bookmark-roots
/devdocs
/org-persist
.notedirlist
/.session
bin/startup-ssh.sh
/lsp-bridge
/el-get
